# Вимкнення папки зі сторонніми бібліотеками
node_modules/

# Файл зі змінними середовища (ключі API тощо)
.env

# Логи
npm-debug.log
yarn-debug.log
yarn-error.log

# Папка зі збіркою
build/

# MacOS сміття
.DS_Store

# VS Code конфігурації (не обов’язково, але часто додають)
.vscode/
